@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+SC:wght@300&family=Jost:wght@300&family=Poiret+One&family=Sawarabi+Gothic&family=Zen+Kaku+Gothic+Antique&display=swap');

/* -----------------------------------------------------PROPIEDADES GENERALES--------------------------------------------------------------------*/

body {
    background-color: rgb(219, 212, 192);
}

/* BOOTSTRAP */

/* bootsrap nav */


ul li a {
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
    font-weight: bolder;
}

.navbar-nav .nav-item .nav-link {
    color: black;
}

.navbar-toggler-icon {
    background-color: rgb(144, 148, 168);

}

.navbar {
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
    font-weight: bolder;
    letter-spacing: 2px;
    font-size: 14px;
}

.navbar .navbar-brand img {

    width: auto;
    height: 80px;
}

.navbar h1 {
    font-size: 18px;
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
    letter-spacing: 3px;
    font-weight: bold;
}

/* BOOTSTRAP INICIO */

.row {
    margin: 0;
}

.indexizquierda {

    min-height: 500px;
    background-color: rgb(144, 148, 168);
    padding: 80px;
}

.indexizquierda h3 {
    font-family: 'Encode Sans SC', sans-serif !important;
    font-size: 35px !important;
    color: white;
    text-align: center;
    margin-bottom: 20px;
}

.indexizquierda p {
    font-family: 'Jost', sans-serif;
    font-size: 19px;
    font-weight: 900;
    color: white;
    letter-spacing: 2px;
    word-spacing: 1px;
    line-height: 30px;
    text-align: justify;
}

.btn {
    color: rgb(244, 244, 248);
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
    font-weight: 800;
    font-size: 13px;
    letter-spacing: 2px;
}

.btnmas {
    justify-content: center;
}

.indexderecha {
    background-image: url(../imagenes/guasha3.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 500px;
}

.container-fluid h3 {
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
    letter-spacing: 2px;
    font-size: 18px;
    font-weight: bold;
}

.container-fluid {
    padding: 0;
}

.imagenindex {
    height: 180px;
    width: 25%;
    background-size: cover;
    background-position: center;
}

.imagenindex1 {
    background-image: url(../imagenes/ventosas2.jpg);
}

.imagenindex2 {
    background-image: url(../imagenes/guasha3.jpg);
}

.imagenindex3 {
    background-image: url(../imagenes/masajefacial1.jpg);
}

.imagenindex4 {
    background-image: url(../imagenes/acupuntura1.jpg);
}

/* BOOTSTRAP SOBRE MI */

.sobremiizquierda {
    background-image: url(../imagenes/imagenflor.jpg);
    background-size: cover;
    background-position: center;
    min-height: 500px;
}

.sobremiderecha {
    min-height: 500px;
    background-color: rgb(144, 148, 168);
    padding: 35px;
}

.sobremiderecha h2 {

    text-align: center;
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
    color: black;
    font-size: 20px;
    letter-spacing: 2px;
    font-weight: bold;
}

.sobremiderecha p {
    text-align: justify;
    font-family: 'Jost', sans-serif;
    color: black;
    font-size: 16px;
}

/* BOOTSTRAP OTRAS TERAPIAS */

.oterapias {
    margin-bottom: 10px;
}

.tituloflores h2 {
    background-color: rgb(144, 148, 168);
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

.floresizquierda {
    background-image: url(../imagenes/floresdebach.jpg);
    background-size: cover;
    background-position: center;
    min-height: 450px;
}

.floresderecha {
    min-height: 450px;
    background-color: rgb(144, 148, 168);
    text-align: justify;
    padding: 40px;
}

.floresderecha h3 {
    text-align: center;
}

.sonoroizquierda {
    min-height: 450px;
    background-color: rgb(144, 148, 168);
    text-align: justify;
    padding: 40px;
}

.sonoroizquierda h3 {
    text-align: center;
}

.sonoroderecha {
    background-image: url(../imagenes/masajesonoro1.jpg);
    background-size: cover;
    background-position: center;
    min-height: 450px;
}

/* BOOTSTRAP GALERIA */

.carousel-inner img {
    border-radius: 30px;
}

.carousel-caption h5 {
    font-size: 30px;
    font-family: 'Encode Sans SC', sans-serif;
    font-weight: 900;
    color: white;
    letter-spacing: 6px;
    word-spacing: 1px;
    line-height: 30px;
    text-align: center;
    opacity: 0.7;
}

/* BOOTSTRAP CONTACTO */

.formcontacto {
    background-color: rgb(165, 167, 179);
    border-radius: 40px;
    margin: 4px;
    padding: 4px;
}

.formcontacto h2 {
    font-family: 'Jost', sans-serif;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 4px;
}

.formcontacto p {
    font-family: 'Jost', sans-serif;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 1px;
}

.btn-primary {
    font-family: 'Jost', sans-serif;
    background-color: rgb(244, 244, 248);
    color: rgb(144, 148, 168);
    font-size: 14px;
    border: none;
    margin-bottom: 5px;
}

.btn-primary:hover {
    background-color: rgb(144, 148, 168);
    color: rgb(244, 244, 248);
}

.md-form {
    font-family: 'Jost', sans-serif;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 2px;
}

.md-form input {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid black;
    outline: none;
}

.md-form textarea {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid black;
    outline: none;
}

/* BOOTSTRAP FOOTER */

.footer-copyright {
    font-family: 'Jost', sans-serif;
    letter-spacing: 1px;
    font-size: 14px;
    font-weight: bold;
}

.footer-copyright img {
    width: 50px;
    height: 50px;
    transition: ease 1s all;
}

.footer-copyright img:hover {
    transform: rotate(2turn);
}

footer a {
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
    font-weight: bolder;
    letter-spacing: 2px;
    color: black;
    font-size: 13px;
    text-decoration: none;
    color: black;
    transition: ease all 0.5s;
}

footer a:hover {
    color: white;
    font-size: 16px;
}


/* MEDIA QUERIES */

 @media only screen and (max-width: 850px){
    .navbar h1 {
        font-size: 15px;
        font-family: 'Zen Kaku Gothic Antique', sans-serif;
        letter-spacing: 3px;
        font-weight: bold;
        width: 50%;
    }

    .navbar .navbar-brand img {
        width: auto;
        height: 60px;
    }

} 