@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+SC:wght@300&family=Jost:wght@300&family=Poiret+One&family=Sawarabi+Gothic&family=Zen+Kaku+Gothic+Antique&display=swap');

// VARIABLES -------------------------------------------

$celeste: #b3b8c2;
$verde: #c4c0ac;
$body: #e3dac9;
$footer: #d6cbb7;

// APLICANDO MIXINS-------------------------------------

@mixin tamañoImg ($height, $width) {
    height: $height;
    width: $width;
}

@mixin formatoImg ($size, $position) {
    background-size: $size;
    background-position: $position;
}

@mixin animacion {
    animation: {
        name: slide;
        duration: 35s;
        iteration-count: infinite;
        timing-function: ease-in;
    }

    display: flex;
    padding: 0;
    width: 300%;
}

// APLICANDO MAPS--------------------------------------

$slidetexto:(titulo:45px,
    parrafo: 17px,
    boton: 13px, );

/* --------------------------------------------------------------- PROPIEDADES GENERALES---------------------------------------------------------*/  

body {
    background-color: $body;
}

html {
    scroll-behavior: smooth;
}

/* --------------------------------------------------------------- ANIMACION DE CARGA---------------------------------------------------------*/  


.cargando{
    height: 100vh;
    width: 100vw;
    background-color: $body;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: fixed;
    z-index: 100;
    animation-name: pantalladecarga;
    animation-duration: 6s;
    top: -100vh;
    

    img{
        height: 15%;
        width: auto;
    }

    .barra{
        height: 0px;
        width: 0%;
        background-color: black;
        animation-name: carga;
        animation-duration: 6s;
        animation-timing-function: linear;
    }

    @keyframes carga {
        
        0%{
            width:0%;
            height: 2px;
        }

        15%{
            width: 15%;
        }

        32%{
            width: 35%;
        }

        48%{
            width: 37%;
        }

        60%{
            width: 55%;
        }

        65%{
            width: 80%;
            height: 2px;
        }

        67%{
            width: 80%;
            height: 2px;
        }

        69%{
            height: 0;
        }

        100%{ 
            width: 80%;
            height: 0;
        }
        
    }

    @keyframes pantalladecarga {

        0%{
            top:0;

        }

        70%{
            top: 0;

        }

        100%{
            top: -100vh;
        } 
    }
}


/* ------------------------------------------------------------------ NAV CON SASS---------------------------------------------------------------*/

.navbar {
    font: {
        family: 'Zen Kaku Gothic Antique', sans-serif;
        size: 13px;
        weight: bolder;
    }

    ;
    letter-spacing: 2px;
    text-align: center;
    display: inline-block;
    background-color: $body !important;
    box-shadow: 2px 2px 10px rgb(51, 52, 54) ;
    height: 120px;
    width: 100%;
    z-index: 50;

    .navbar-brand {
        img {
            width: auto;
            height: 80px;
        }
    }

    h1 {
        font: {
            size: 18px;
            family: 'Zen Kaku Gothic Antique', sans-serif;
            weight: bold;
        }

        ;
        letter-spacing: 3px;
        margin-top: -70px;
    }

    .navbar-toggler {
            border: none;
        .navbar-toggler-icon {
            background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
        }
    }

    .navbar-collapse {
        .navbar-nav {
            height: min-content;
            width: 100%;
            justify-content: center;
        }

        .nav-item {
            .nav-link {
                color: black;
                padding-left: 30px;
                width: 100%;
            }

            a {
                transition: all 0.6s ease;
            }

            a:hover {
                color: white;
                font-size: 16px;
            }
        }
    }
}

/* --------------------------------------------------------MEDIA QUERIES NAV CON SASS-------------------------------------------------------*/

@media only screen and (max-width: 970px) {

    .navbar {
        font-size: 11px;

        h1 {
            font-size: 14px;
            margin-top: -65px;
        }

        .navbar-nav .nav-item .nav-link {
            padding-left: 15px;
            margin-top: 2px;
        }

    }
}

@media only screen and (max-width: 767px) {

    .navbar {
        display: flex;
        flex-direction: row;
        height: auto;
        justify-content: center;
        padding: 0;

        h1 {
            margin: 0px;
        }

        .navbar-brand img {
            width: auto;
            height: 65px;
            margin: 0;
        }

        .navbar-nav {
            height: min-content;
        }
    }
}

@media only screen and (max-width: 687px) {

    .navbar {
        flex-direction: row;

        h1 {
            font-size: 10px;
            width: 50%;
        }

        .navbar .navbar-brand img {
            width: auto;
            height: 45px;
        }
    }
}

/* -------------------------------------------------------------PAGINA INICIO CON SASS-----------------------------------------------------------*/

body {
    .mainIndex {
        background-color: $body;
        grid-row: 2/3;
        width: 100%;
        height: min-content;

        .contenidoSuperior {
            .contenedorslide {
                width: 100%;
                display: flex;

                .slidertexto {
                    width: 40%;
                    overflow: hidden;


                    ul {
                        @include animacion;

                        .contenido__texto {
                            width: 100%;
                            list-style: none;
                            background-color: $celeste;
                            height: 500px;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            text-align: center;


                            .contenido__texto--titulo {
                                font: {
                                    family: 'Encode Sans SC', sans-serif;
                                    size: map-get($slidetexto, titulo);
                                }

                                ;

                                margin: {
                                    top: 20px;
                                    bottom: 20px;
                                }

                                ;
                                color: white;
                            }


                            .contenido__texto--parrafo {
                                font: {
                                    family: 'Jost', sans-serif;
                                    weight: 900;
                                    size: map-get($slidetexto, parrafo);
                                }

                                ;

                                margin: {
                                    left: 30px;
                                    right: 30px;
                                    bottom: 50px;
                                }

                                ;
                                color: white;
                                letter-spacing: 2px;
                                word-spacing: 1px;
                                line-height: 30px;
                            }

                            div {
                                .botonconocemas {
                                    font: {
                                        family: 'Zen Kaku Gothic Antique', sans-serif;
                                        weight: 800;
                                        size: map-get($slidetexto, boton);

                                    }

                                    ;
                                    background-color: $celeste;
                                    text-decoration: none;
                                    padding: 5px;
                                    letter-spacing: 2px;
                                    color: white;
                                    cursor: pointer;

                                }
                            }
                        }
                    }
                }

                .slider {
                    width: 60%;
                    overflow: hidden;

                    ul {
                        @include animacion;

                        li {
                            width: 100%;
                            list-style: none;

                            img {
                                width: 100%;
                                height: 500px;
                            }
                        }
                    }
                }
            }
        }

        .contenidoInferior {
            .contenido2 {
                padding: {
                    top: 10px;
                    bottom: 10px;
                }

                ;
                height: min-content;
                width: 100%;
                overflow: visible;

                .contenido2__titulo {
                    font: {
                        family: 'Zen Kaku Gothic Antique', sans-serif;
                        size: 18px;
                        weight: bold;
                    }

                    ;
                    text-align: center;
                    text-shadow: 2px 2px 7px #8a8479;
                    letter-spacing: 2px;
                    margin-top: 4px;

                }

                .contenido2__parrafo {
                    font: {
                        family: 'Jost', sans-serif;
                        size: 16px;
                        weight: bold;
                    }

                    ;
                    padding: 0 25px 0 25px;
                    text-align: justify;
                }
            }

            .contenido2Imagenes {
                display: flex;
                justify-content: space-evenly;
                gap: 10px;
                padding: 0 10px 0 10px;
                margin-bottom: 10px;

                .contenidoimgs1 {
                    display: flex;
                    width: 100%;
                    gap: 10px;

                    .imagenindex {
                        @include tamañoImg (180px, 50%);
                        box-shadow: 2px 2px 6px rgb(48, 49, 54);
                        border-radius: 7px;
                        transition: ease 0.5s all;
                    }


                    .img1 {
                        @include formatoImg (cover, center);
                        background-image: url(../imagenes/ventosas3.jpeg);

                        &:hover {
                            background-image: url(../imagenes/ventosas1.jpg);
                        }
                        

                    }

                    .img2 {
                        @include formatoImg (cover, center);

                        background-image: url(../imagenes/guasha1.jpg);
                        
                        &:hover {
                            background-image: url(../imagenes/guasha2.jpg);
                        }
                    }

                    ;
                }
            }

            .contenidoimgs2 {
                @extend .contenidoimgs1;

                .imagenindex {
                    @include tamañoImg (180px, 50%);
                }

                .img3 {
                    @include formatoImg (cover, center);
                    background-image: url(../imagenes/masajefacial1.jpg);

                    &:hover {
                        background-image: url(../imagenes/masajefacial2.jpg);
                    }

                }

                .img4 {
                    @include formatoImg (cover, center);
                    background-image: url(../imagenes/masaje1.jpg);

                    &:hover {
                        background-image: url(../imagenes/masaje2.jpg);
                    }

                }
            }
        }
    }
}


@keyframes slide {

    0% {
        margin-left: 0;
    }

    25% {
        margin-left: 0;
    }

    30% {
        margin-left: -100%;
    }

    65% {
        margin-left: -100%;
    }

    70% {
        margin-left: -200%;
    }

    96% {
        margin-left: -200%;
    }

    100% {
        margin-left: 0;
    }
}

/* -----------------------------------------------------------MEDIA QUERIES INDEX CON SASS-----------------------------------------------------*/

@media only screen and (max-width: 820px) {

    body {
        .mainIndex {
            .contenidoSuperior {
                .contenedorslide {
                    width: 100%;
                    flex-direction: column;
                    height: min-content;

                    .slidertexto {
                        width: 100%;

                        ul {
                            .contenido__texto {
                                width: 100%;

                                .contenido__texto--titulo {
                                    font-size: 40px;
                                    margin-top: 18px;
                                }

                                .contenido__texto--parrafo {
                                    font-size: 16px;
                                    line-height: 35px;
                                    margin: {
                                        left: 30px;
                                        right: 30px;
                                        bottom: 20px;
                                    }
                                }
                            }
                        }
                    }

                    .slider {
                        width: 100%;

                        ul {
                            li {
                                img {
                                    height: 400px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .contenidoInferior {
        .contenido2Imagenes {
            flex-direction: column;

            .contenidoimgs1 {
                width: 100%;
                display: flex;

                .imagenindex .img1 {
                    width: 50%;
                }

                .imagenindex .img2 {
                    width: 50%;
                }
            }

            .contenidoimgs2 {
                width: 100%;
                display: flex;

                .imagenindex .img3 {
                    width: 50%;
                }

                .imagenindex .img4 {
                    width: 50%;
                }
            }
        }

    }
}


@media only screen and (max-width: 425px) {
    body .mainIndex .contenidoSuperior .contenedorslide .slider ul li img {
        height: 250px;
    }
}

/* -------------------------------------------------------------PAGINA SOBRE MI CON SASS--------------------------------------------------*/

.mainSobreMi {
    width: 100%;
    grid-row: 2/3;
    display: flex;
    height: min-content;

    .mainsobremi__imagen {
        width: 45%;
        height: 700px;
        background: {
            image:url(../imagenes/florenchina2.jfif);
            size: cover;
            position: center;
        };
        box-shadow: 2px 2px 6px rgb(48, 49, 54);
        z-index: 5;
    }

    .mainsobremi__texto {
        background-color: $celeste;
        width: 55%;
        height: 700px;
        overflow: auto;

        h2 {
            margin: {
                left: 10px;
                right: 10px;
                top: 60px
            };
            font: {
                family:'Zen Kaku Gothic Antique', sans-serif;
                size: 20px;
                weight:bold;
            };
            text-align: center;
            color: black;
            letter-spacing: 5px;
            text-shadow: 2px 2px 7px #4b4763;
        }

        p {

            font: {
                family:'Jost', sans-serif;
                size: 16px;
                weight:bold;
            };

            margin: {
                left: 10px;
                right: 10px;
                top: 10px
            };

            padding: 10px;
            line-height: 35px;
            text-align: justify;
        }

    }

}


/* ----------------------------------------------------------MEDIA QUERIES SOBRE MI CON SASS--------------------------------------------------*/

@media only screen and (max-width: 960px) {
    .mainSobreMi {
        flex-direction: column;
        margin-top: 0;

        .mainsobremi__texto {
            width: 100vw;
            height: auto;
        }

        .mainsobremi__imagen {
            width: 100vw;
        }
    }
}

/* ------------------------------------------------------------PAGINA MEDICINA CHINA CON SASS---------------------------------------------*/

.mainmedicinachinaterapias {
    width: 100%;
    grid-row: 2/3;
    height: min-content;

    .cajaterapia {
        padding: 2px;
        background-color: $verde;
        height: min-content;
        width: 100%;
        overflow: auto;
        margin-bottom: 30px;

        h2 {
            font: {
                family:'Zen Kaku Gothic Antique', sans-serif;
                size: 20px;
                weight:bold;
            };
            color: black;
            letter-spacing: 4px;
            text-shadow: 2px 2px 7px #58585a;
            text-align: center;
            margin-top: 15px;
            padding-bottom: 8px;
        }

        .parrafoMedicina {
            font: {
                family:'Jost', sans-serif;
                size: 15px;
                weight:600;
            };
            height: 100px;
            color: black;
            text-align: center;
            letter-spacing: 2px;
            word-spacing: 1px;
            padding:0 4% 0 4%;
        }
    }

    .contenidotextoimagen {
        width: 100%;
        height: min-content;

        .cajatextoimagen {
            width: 100%;
            height: min-content;
            display: flex;
            flex-wrap: wrap;

            .cajaimagenizquierda {
                display: flex;
                background-color: $verde;
                margin-top: 50px;
                width: 45%;
                height: 500px;
                z-index: 10;
                border-radius: 0px 10px 10px 0px;

                .cajaimagenizquierda2 {
                    background: {
                        image: url(../imagenes/giphyguasha.gif);
                        size: cover;
                        position: center;
                    };
                    width: 100%;
                    height: 400px;
                    margin-left: 20px;
                }

                .cajaimagenizquierda3 {
                    background: {
                        image: url(../imagenes/giphyreflexologia.gif);
                        size: cover;
                        position: center;
                    };
                    width: 100%;
                    height: 400px;
                    margin-left: 20px;
                }

                .cajaimagenizquierda4 {
                    background: {
                        image: url(../imagenes/giphyacupuntura.gif);
                        size: cover;
                        position: center;
                    };
                    width: 100%;
                    height: 400px;
                    margin-left: 20px;
                }

                .cajaimagenizquierda5 {
                    background: {
                        image:  url(../imagenes/giphyqigong.gif);
                        size: cover;
                        position: center;
                    };
                    width: 100%;
                    height: 400px;
                    margin-left: 20px;
                }
            }

            .cajatextoderecha {
                background-color: $celeste;
                width: 55%;
                height: 500px;
                display: flex;
                flex-direction: column;
                margin-top: 7px;
                justify-content: center;
                align-items: center;
                overflow: auto;
                border-radius: 10px 0 0 10px;

                .h3derecha {
                    font: {
                        family:'Encode Sans SC', sans-serif;
                        size: 25px;
                        weight:bold;
                    };
                    color: black;
                    text-align: center;
                    text-shadow: 2px 2px 7px #4b4763;
                    padding-bottom: 8px;
                    letter-spacing: 3px;
                }

                .parrafos {
                    font: {
                        family: 'Jost', sans-serif;
                        size: 16px;
                        weight:900;
                    };
                    text-align: center;
                    color: black;
                    letter-spacing: 2px;
                    word-spacing: 1px;
                    line-height: 30px;
                    padding: 0 20px 0 20px;
                }

            }

            .cajatextoizquierda {
                background-color: $celeste;
                width: 55%;
                height: 500px;
                margin-top: 7px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                overflow: auto;
                border-radius: 0px 10px 10px 0px;

                .h3izquierda {
                    font: {
                        family:'Encode Sans SC', sans-serif;
                        size: 25px;
                        weight:bold;
                    };
                    color: black;
                    text-align: center;
                    text-shadow: 2px 2px 7px #4b4763;
                    padding-bottom: 8px;
                    letter-spacing: 3px;
                }

                .parrafos {
                    font: {
                        family:'Jost', sans-serif;
                        size: 16px;
                        weight:900;
                    };

                    text-align: center;
                    color: black;
                    letter-spacing: 2px;
                    word-spacing: 1px;
                    line-height: 30px;
                    padding: 0 20px 0 20px;
                }
            }

            .cajaimagenderecha {
                background-color: $verde;
                margin-top: 50px;
                width: 45%;
                height: 500px;
                display: flex;
                z-index: 10;
                border-radius: 10px 0 0 10px;

                .cajaimagenderecha2 {
                    background: {
                        image: url(../imagenes/giphyventosas.gif);
                        size: cover;
                        position: center;
                    };
                    width: 100%;
                    height: 400px;
                    margin-right: 20px;
                }

                .cajaimagenderecha3 {
                    background: {
                        image: url(../imagenes/giphyauriculoterapia.gif);
                        size: cover;
                        position: center;
                    };
                    width: 100%;
                    height: 400px;
                    margin-right: 20px;
                }

                .cajaimagenderecha4 {
                    background: {
                        image: url(../imagenes/giphymoxa.gif);
                        size: cover;
                        position: center;
                    };
                    width: 100%;
                    height: 400px;
                    margin-right: 20px;
                }
            }
        }
    }
}

/* -----------------------------------------------------MEDIA QUERIES PAGINA MEDICINA CHINA CON SASS-------------------------------------*/

@media only screen and (max-width: 1060px) {
    .mainmedicinachinaterapias {
        margin-top: 0;

        .h3derecha {
            padding-top: 120px;
        }

        .h3izquierda {
            padding-top: 120px;
        }
    }

}

@media only screen and (max-width: 800px) {

    .mainmedicinachinaterapias {
        .cajaterapia {
            margin-bottom: -30px;

            h2{
                font-size: 17px;
                letter-spacing: 2px;
            }
        }

        .contenidotextoimagen {
            .cajatextoimagen {
                flex-direction: column;
                flex-wrap: nowrap;

                .cajaimagenizquierda {
                    width: 100%;
                }

                .cajatextoderecha {
                    width: 100%;
                    height: min-content;

                    .h3derecha {
                        padding-top: 40px;
                    }
                }

                .cajatextoizquierda {
                    width: 100%;
                    height: min-content;

                    .h3izquierda {
                        padding-top: 40px;
                    }
                }

                .cajaimagenderecha {
                    width: 100%;
                }
            }

            .medicinachinareverse {
                display: flex;
                flex-direction: column-reverse;
            }
        }
    }
}

/* --------------------------------------------------------------OTRAS TERAPIAS CON SASS---------------------------------------------------------*/

.mainotrasterapias {
    width: 100%;
    grid-row: 2/3;
    height: min-content;
    background-color: $body;

    .otrasterapias {
        width: 100%;
        margin-bottom: 5px;

        .tituloterapias {
            background-color: $celeste;
            width: 100%;
            height: min-content;

            h2 {
                font: {
                    family:'Zen Kaku Gothic Antique', sans-serif;
                    size: 20px;
                    weight:bold;
                };
                width: 100%;
                text-align: center;
                color: black;
                letter-spacing: 5px;
                padding: 15px;
                text-shadow: 2px 2px 7px #4b4763;
            }
        }
    }

    .cajaotrasterapias {
        width: 100%;
        height: 500px;
        display: flex;
        margin-top: -8px;

        .cajaflores__imagen {
            background: {
                image: url(../imagenes/flores.jpg);
                size: cover;
                position: center;
                repeat:no-repeat;
            };
            width: 50%;
            height: 500px;
            z-index: 3;
            box-shadow: 2px 2px 6px rgb(48, 49, 54);
        }

        .masajesonoro__imagen {
            background: {
                image: url(../imagenes/masajesonoro2.jpg);
                size: cover;
                position: center;
                repeat:no-repeat;
            };
            width: 50%;
            height: 500px;
            z-index: 3;
            box-shadow: -2px 2px 6px rgb(48, 49, 54);
        }

        .cajaflores__texto {
            background-color: $celeste;
            width: 50%;
            height: 500px;
            overflow: auto;

            h3 {
                font: {
                    family:'Jost', sans-serif;
                    size: 18px;
                    weight:bold;
                };
                color: black;
                text-align: center;
                text-transform: uppercase;
                margin-top: 40px;
            }

            p {
                font: {
                    family:'Jost', sans-serif;
                    size: 16px;
                    weight:900;
                };
                text-align: justify;
                color: black;
                letter-spacing: 2px;
                word-spacing: 1px;
                padding: 0 80px 0 80px;
                margin-top: 20px;
                line-height: 18px;
            }
        }
    }
}

/* ---------------------------------------------------------MEDIA QUERIES OTRAS TERAPIAS CON SASS----------------------------------------------*/

@media only screen and (max-width: 1060px) {

    .mainotrasterapias {
        margin-top: 0px;
    }
}

@media only screen and (max-width: 950px) {

    .mainotrasterapias {
        .cajaotrasterapias {
            flex-direction: column;
            width: 100%;

            .cajaflores__texto {
                width: 100%;
            }

            .cajaflores__imagen {
                width: 100%;
            }

            .masajesonoro__imagen {
                width: 100%;
            }
        }

        #seccionsonoro {
            flex-direction: column-reverse;
        }
    }
}

/* ------------------------------------------------------------------GALERIA CON SASS---------------------------------------------------------------------*/

.mainGaleria {
    background-color: rgb(243, 239, 230);
    grid-row: 2/3;
    height: 600px;
    padding: 20px 20px 40px 20px;

    .contenedorGaleria {
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-areas:
            "item1 item2 item3 item4"
            "item5 item6 item7 item4"
            "item5 item8 item9 item10"
        ;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 5px;
        justify-content: center;
        margin: 10px 0px 30px 0px;

        .item {
            border-radius: 5px;
            transition: ease 0.5s all;
            background-size: cover;
            background-position: center;

            &:hover {
                transform: scale(1.2);
                z-index: 500;
                border: 1px solid $celeste;
                box-shadow: 4px 4px 10px white;
            }
        }

        .item1 {
            grid-area: item1;
            background-image: url(../imagenes/ventosas2.jpg);
        }

        .item2 {
            grid-area: item2;
            background-image: url(../imagenes/reflexologia2.jpg);
        }

        .item3 {
            grid-area: item3;
            background-image: url(../imagenes/masajefacial1.jpg);
        }

        .item4 {
            grid-area: item4;
            background-image: url(../imagenes/guasha3.jpg);
        }

        .item5 {
            grid-area: item5;
            background-image: url(../imagenes/guasha1.jpg);
        }

        .item6 {
            grid-area: item6;
            background-image: url(../imagenes/auriculoterapia.jpg);
        }

        .item7 {
            grid-area: item7;
            background-image: url(../imagenes/masajefacial2.jpg);
        }

        .item8 {
            grid-area: item8;
            background-image: url(../imagenes/acupuntura1.jpg);
        }

        .item9 {
            grid-area: item9;
            background-image: url(../imagenes/ventosas3.jpeg);
        }

        .item10 {
            grid-area: item10;
            background-image: url(../imagenes/acupuntura2.jpg);
        }
    }
}

/* -------------------------------------------------------MEDIA QUERIES PAGINA GALERIA CON SASS------------------------------------------------------*/

@media only screen and (max-width: 1000px) {
    .mainGaleria{
        .contenedorGaleria {
            width: 100%;
            height: 100%;
            display: grid;
            grid-template-areas:
                "item1 item2 item3 "
                " item4 item5 item6"
                " item4 item5 item7"
                " item8 item9 item10";
            grid-template-rows: 1fr 1fr 1fr 1fr;
            grid-template-columns: 1fr 1fr 1fr;
            justify-content: center;
            margin: 10px 0px 30px 0px;
            padding: 5px 5px 10px 5px;
        }
    }
}

@media only screen and (max-width: 750px) {
.mainGaleria{
    .contenedorGaleria {
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-areas:
            "item1 item2"
            "item3 item4"
            "item5 item4"
            "item5 item6"
            "item7 item8"
            "item9 item10"
        ;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        justify-content: center;
        margin: 10px 0px 30px 0px;
        padding: 5px 5px 10px 5px;
    }

}
  
}

/* -------------------------------------------------------------CONTACTO CON SASS-------------------------------------------------------------*/

.mainform {
    width: 100%;
    height: 100vh;
    background-color: rgb(219, 212, 192);
    grid-row: 2/3;

    .contenedorformydatos {
        background: {
            color: $celeste;
            image:  url(../imagenes/fondocara5.jpg);
            size: contain;
            position: left;
            repeat:no-repeat;
        };
        padding: {
            top: 30px;
            bottom: 30px
        };
        display: flex;
        align-items: center;
        height: 100%;
        width: 100%;

        .cajaform {
            padding-top: 15px;
            width: 100%;
            height: min-content;
            margin-left: 100px;
            justify-content: center;

            form {
                width: 100%;
                display: flex;
                flex-direction: column;
                align-content: center;
                align-items: center;

                h2 {
                    font: {
                        family:'Jost', sans-serif;
                        size: 25px;
                        weight:bold;
                    };
                    color: black;
                    letter-spacing: 2px;
                    margin-bottom: 40px;
                    text-shadow: 2px 2px 7px #f6f7fc;
                }

                input {
                    font: {
                        family:'Jost', sans-serif;
                        size: 13px;
                        weight:bold;
                    };
                    width: 100%;
                    text-align: center;
                    color: black; 
                    letter-spacing: 2px;
                }

                textarea {
                    font: {
                        family:'Jost', sans-serif;
                        size: 13px;
                        weight:bold;
                    };
                    width: 100%;
                    text-align: center;
                    color: black;
                    letter-spacing: 2px;
                    padding-top: 10px;
                    padding-bottom: 10px;
                    border: none;
                    border-bottom: 1px solid black;  
                }

                .forminput {
                    background-color: transparent;
                    border: none;
                    border-bottom: 1px solid black;
                    outline: none;
                }

                .forminput::placeholder {
                    color: black;
                    font-weight: bold;
                }

                .botonesenviar {
                    height: 30px;
                    display: flex;
                    gap: 80px;

                    .inputbotones {
                        font: {
                            size: 12px;
                            weight:bold;
                        };
                        color: black;
                        text-shadow: 2px 2px 5px $footer;
                        font-weight: bold;
                        width: 110px;
                        cursor: pointer;
                        background-color: $celeste;
                        border: 1px solid black;
                        box-shadow: -2px 2px 6px #303136;
                        border-radius: 5px;
                        &:hover {
                            background-color: $body;
                        }
                    }
                }
            }
        }

        .redesydatos {
            margin: {
               right: 60px;
               left: 100px;
            };
            background-color: rgba(179, 184, 194, 0.7);
            width: 100%;
            height: min-content;
            text-align: center;
            border-radius: 20px;
            box-shadow: 2px 2px 10px #303136;
            display: flex;
            align-items: center;
            padding: 20px;

            .redesydatos__p1 {
                font: {
                    family:'Jost', sans-serif;
                    size: 15px;
                    weight:bolder;
                };
                color: black;
                letter-spacing: 2px;
                padding: 20px 20px 4px 20px;
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;

                .paddinglink {
                    padding-bottom: 20px;

                    .link {
                        color: black;

                        &:hover {
                            color: black;
                        }
                    }
                }

                .redesydatos__p2 h3 {
                    font: {
                        family:'Jost', sans-serif;
                        size: 22px;
                        weight:bold;
                    };
                    letter-spacing: 2px;
                }
                
                .parrafomensaje {
                    font: {
                        family:'Jost', sans-serif;
                        size: 14px;
                        weight:900;
                    };
                    letter-spacing: 2px;
                    line-height: 25px;
                    text-align: center;
                }
            }
        }
    }
}

/* ----------------------------------------------------------MEDIA QUERIES PAGINA CONTACTO CON SASS------------------------------------------------------------*/

@media only screen and (max-width: 950px) {

    .mainform {
        margin-top: 0;
        height: min-content;

        .contenedorformydatos {
            width: 100%;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .cajaform {
                padding: 0;
                margin: 0;

                form {
                    margin-bottom: 15px;

                    h2 {
                        font-size: 18px;
                    }

                    .forminput {
                        padding: 0px;
                        margin: 0px;
                    }
                }
            }

            .redesydatos {
                width: 100%;
                height: min-content;
                justify-content: center;
                margin: 0;
                padding: 0;
                margin-top: 10px;

                .redesydatos__p1 {
                    font: {
                        family:'Jost', sans-serif;
                        size: 10px;
                        weight:bolder;
                    };
                    color: black;
                    letter-spacing: 2px;
                    padding: 20px 20px 4px 20px;
                    line-height: 30px;

                    .paddinglink {
                        padding-bottom: 0px;

                        .link {
                            font-size: 12px;
                        }
                    }
                    .redesydatos__p2 h3 {
                        padding-top: 10px;
                    }
                }
            }
        }
    }
}

/* ------------------------------------------------------------------FOOTER CON SASS---------------------------------------------------------------------*/

footer {
    background-color: $footer;
    grid-row: 3/4;
    display: flex;
    flex-direction: column;
    z-index: 20;
    height: 110px;

    .contenedorFooter__boton {
        font: {
            family: 'Jost', sans-serif;
            size: 14px;
            weight: bolder;
        }

        ;
        height: min-content;
        width: 200px;
        color: black;
        letter-spacing: 1px;
        text-decoration: none;
        padding: 10px;
        margin-top: 10px;
        text-align: center;
        transition: all 0.6s ease;

        &:hover {
            color: white;
            font-size: 16px;
        }

    }

    .contenedorFooter__copyright {
        font: {
            family: 'Jost', sans-serif;
            size: 12px;
            weight: bolder;

        }

        ;
        height: 28px;
        text-decoration: none;
        color: black;
        align-self: center;
        margin-top: 2px;
    }

    .logofooter {
        width: 50px;
        height: 50px;
        align-self: center;
        margin-top: -90px;
        transition: ease 1s all;

        &:hover {
            transform: rotate(2turn);
        }
    }
}

.sitemap {
    height: min-content;
    width: 100%;
    background-color: $footer;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    a {
        color: black;
        padding-bottom: 10px;
        padding-top: 15px;
        text-decoration: overline;

        font: {
            family: 'Jost', sans-serif;
            size: 11px;
            weight: bolder;
        }
    }
}

/* ------------------------------------------------------------------MEDIA QUERIES FOOTER CON SASS---------------------------------------------------------------------*/

@media only screen and (max-width: 430px) {
    footer {
        .contenedorFooter__boton {
            font-size: 9px;
            margin-left: -40px;
        }

        .logofooter {
            width: 40px;
            height: 40px;
            margin-top: -80px;
        }
    }

    .sitemap a {
        font-size: 8px;
    }
}

